.timer {
  padding: 10px 30px 10px 30px;
  font-weight: 600;
  background-color: antiquewhite;
  border-radius: 5px;
  font-size: 22px;
}

.timer-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.timer-text {
  font-size: 18px;
  font-weight: 600;
}